a {
    color:white;
    text-decoration: None;
}
section{
    display:grid;
    grid-template-columns: 1fr;
}
header{
   
    color:#ebebeb;
    background-color: #898891;
    
}
nav{
    padding: .5rem;
}
h1{
    color:white;
    
}
img {
    width: 100%;
}
ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

@media screen and (min-width: 700px) {
  section{
    grid-template-columns: 1fr, 1fr, 1fr;
  }
    ul{
    flex-direction: row;
  }
  }