/* html selectors selectorName*/
/* class selectors .className */
/* id selectors #idName CAN ONLY BE USED ONCE!*/
/* order of specificity id, class, html selector name.  */

article{
    color:red;
}
article.blue{
    color:blue;
}

#unique {
    color:green;
}

header {
    background-color: #000000;
    font-family: "Kode Mono", monospace;
    display: grid;
    grid-column: 2 / 11;
    grid-row: 1 / 2;
    place-items: center;
    padding: 25px 25px;
    color: #ffffff;
}

header a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: "Kode Mono", monospace;
    text-decoration: underline;
    font-size: 25px;
    text-shadow:6px 6px 12px #b01e1e; 
}